@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.sign-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(39, 43, 44, 0.8);
    width: 600px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}

.sign-header {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: white;
}

.sign-logo {
    padding-left: 5px;
    width: 13%;
}

.sign-title-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}

.sign-minititle {
    font-size: 12px;
    font-family: 'Alegreya SC', serif;
    letter-spacing: 6px;
}

.sign-title {
    font-size: 35px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 600;
    letter-spacing: 6px;
}

.sign-subtitle {
    position: absolute;
    left: 75%;
    font-family: 'Montserrat', serif;
    font-family: 'Gothic A1', serif;
}

.sign-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 55%;
    top: 24%;
    left: 41%;
    gap: 18px;
}

.sign-group {
    position: relative;
    width: 100%;
}

.sign-input {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    font-family: 'Source Serif Pro', serif;
    background-color: rgba(72, 75, 75, 0.7);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
    border: solid 1.5px rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    color: white;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.sign-user-label {
    position: absolute;
    left: 15px;
    width: 150px; 
    text-align: left;
    color: rgba(255, 255, 255, 0.5); 
    pointer-events: none;
    transform: translateY(9px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Source Serif Pro', serif;
    border: 1px solid transparent; 
    padding: 0 8px;
    border-radius: 4px;
}
  
.sign-input:focus,
.sign-input:valid {
    outline: none;
    border: 1.5px solid rgba(255, 255, 255, 0.6); 
    background-color: rgba(72, 75, 75, 0.85);
    padding: 15px 15px 5px;
}
  
.sign-input:focus ~ .sign-user-label,
.sign-input:valid ~ .sign-user-label {
    transform: translateY(-50%) translateX(-20px) scale(0.8);
    background-color: rgba(72, 75, 75, 1);
    padding: 0 8px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.6);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 

    transition: 
          transform 200ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
          border-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
          color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-input:focus ~ .sign-user-label {
    color: rgba(255, 255, 255, 1);  
    border: 1.5px solid rgba(255, 255, 255, 0.8);  
}

.error-message {
    position: absolute;
    color: red;
    font-size: 12px;
    text-align: left;
    margin-top: 72%;
}

.sign-button {
    position: absolute;
    bottom: 4%;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    width: 598px;
    border-top: 1px solid white;
    padding-top: 9px;
}

.sign-profile {
    position: absolute;
    top: 24%;
    left: 5%;
    width: 30%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/InitPage.png') center / cover no-repeat;
    animation: zoomIn ease-in-out forwards; 

}

.success-message {
    position: absolute;
    color: red;
    font-size: 12px;
    text-align: left;
    margin-top: 71%;
}

/* 스크롤 숨기기 */
body, html {
    overflow: hidden; /* 스크롤 비활성화 */
  }