@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BinggraeII';
  src: url('/fonts/BinggraeII-Bold.otf') format('opentype'),
       url('/fonts/BinggraeII-Bold.woff') format('woff');
}

@font-face {
  font-family: 'THEFACESHOP_INKLIPQUID';
  src: url('/fonts/THEFACESHOP+INKLIPQUID.ttf') format('truetype');
}

@font-face {
  font-family: 'Intelone_mono_font_family_regular';
  src: url('/fonts/intelone-mono-font-family-regular.ttf') format('truetype');
}

